<%- include('../includes/head.ejs')   %>




</head>

<body>

  <%- include('../includes/nav.ejs')   %>



  <form style="width: 40%; margin: auto;" action="/register_user" method="post">
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" name="name" required>
    </div>
    <div class="mb-3 ">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
        required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
    </div>

  
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Signup</button>

  </form>

  <br><br><br>
  <h5 style="color: red;"><%= message %></h5>


  <%- include('../includes/end.ejs')   %>