<script>

    // working on responsive navigation bar 
    var burger = document.querySelector('.burger')
    var navbar = document.querySelector('.our-navbar')
    var navlist = document.querySelector('.our-navlist')



    burger.addEventListener('click', () => {

        navbar.classList.toggle('h-nav')
        navlist.classList.toggle('v-class')
    })
</script>
    
</body>

</html>